h1{
  color: #0ec2b8;
  text-align: center;
  padding: 20px;
}
h2{
  color: #4183c2;
}
.btn{
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #c7fffa;
  border-color: #0ec2b8;
  padding: 10px;
  float:right;
}